@import "tailwindcss";


.bg-primaryReds {
    background-color: #e11b23; }
 
    .primaryReds{

        color: #e11b23; 
    }


@layer utilities {
  .animate-wave {
    animation: wave 2s infinite ease-in-out;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.3) 25%,
      #ffffff 50%,
      rgba(255, 255, 255, 0.3) 75%,
      transparent 100%
    );
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.6); /* optional glow */
  }

  @keyframes wave {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
}
